div {
	margin: o;
	padding: 0;
}

.logo {
    width: 350px;
    height: 238px;

    position: absolute;
    top: 100px;
    bottom: 0;
    left: 130px;
    right: 0;

    /*margin: auto;*/
}

body {
	background-image: url("images/splash_bg-lightbulb.jpg");
	background-repeat: no-repeat;
	/*background-position: 20px -100px;*/
	background-size: 100%;
}

.splash {
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}

em {
    font-size: 28px;
    font-weight: bold;

}