
body {
    margin: 0;
    padding: 0;
}
div {
	margin: o;
	padding: 0;
}

.logo {
    width: 350px;
    height: 238px;

    position: absolute;
    top: 100px;
    bottom: 0;
    left: 130px;
    right: 0;

    /*margin: auto;*/
}

.jumbotron {
    width: 100%;
    height: 600px;
	background-image: url("images/splash_bg-lightbulb.jpg");
	background-repeat: no-repeat;
	/*background-position: 20px -100px;*/
	background-size: 100%;
}

.splash {
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}

em {
    font-size: 28px;
    font-weight: bold;
}
.newsandevents {
    width: 100%;
    height: 600px;
    top: 600px;
    position: absolute;
    background-color: #4d4d4d;
}
.photographyevents {
    position: relative;
    width: 45%;
    margin-left: 15px;
    height: 570px;
    top: 15px;
    background-color: #c0c0c0;
    border-radius: 30px;
    float: left;
}
.webevents {
    position: relative;
    width: 45%;
    margin-right: 15px;
    height: 570px;
    top: 15px;
    background-color: #c0c0c0;
    border-radius: 30px;
    float: right;
}